<div style="background-color: white" >
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
		  <ul class="navbar-nav mr-auto pb-0">
		  			<li>
		  				&nbsp
		  			</li>
					<li class="nav-item ">
						<a class="nav-link" href="/admin"><p font="Tekton Pro">Products</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/brands"><p font="Tekton Pro">Brands</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categories"><p font="Tekton Pro">Categories</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/customers"><p font="Tekton Pro">Customers</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/orders"><p font="Tekton Pro">Orders</p><span class="sr-only">(current)
						</span></a>
					</li>
		        </ul>
		        <img src="/logo19.png" width="10%" height="10%" style="float: right; margin-right: 3%;">	
		</nav>

		<b><p style="font-size: 3vw;" class="my-3 text-center">{{first_name}}  {{last_name}}</p></b>
<div class="row">
	<div class="col-3">
	<div class="container p-1 mb-5" style="font-size: 20px;">
		
		
		<div class="bg-secondary text-white p-3">
		<p class="card-title">ID: {{customer_id}}</p>
		<p class="card-title">Email: {{email}}</p>
		<p class="card-title">Address: {{street}}, {{municipality}}, {{province}}, {{zipcode}}</p>
		
		</div>
		</div>
	</div>
	<div class="col-9">
		<h5 align="center">Orders</h5>
			<table style="width:100%" class="table table-sm text-cennter">
				<tr>
					<th>Order ID</th>
					<th>Order Date</th>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Quantity</th>
				</tr>
				{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.order_date}}</td>
					<td>{{this.product_id}}</td>
					<td>{{this.name}}</td>
					<td>{{this.quantity}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
		</div>
<br><br><br><br><br><br><br><br>
	<div class="bg-dark p-2 " style=" color: #d3d3d3; width: 100%; text-align: center; font-size: 0.8vw; bottom: 0;">© Copyright 2018     Developed by: Somido-Tan</div>
</div>