<b><h1 class="mt-2 mb-1 text-center">{{title}}</h1></b>
  <div class="row mx-5">
    <div class="col">
  <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
    </div>
    <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
   <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
</div>

  <div class="row mx-5">
    <div class="col">
  <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
    </div>
    <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
   <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
</div>

  <div class="row mx-5">
    <div class="col">
  <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
    </div>
    <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
   <div class="col">
    <table class="table">
    <tr class="table thead-dark" align="center">
      <th colspan="2">Top 10 Customers With Most Number Of Orders</th>
    </tr>
    <tr class="table thead-dark" align="center">
      <td>Name</td>
      <td>Number of Orders</td>
    </tr class="table thead-dark">
    {{#each data}}<tr align="center" class="table thead-dark">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
    <tr align="center" class="table thead-dark">
      <td colspan="2"><a href="/customorder">See all</a></td>
    </tr>
  </table>
</div>
</div>
