<nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center">
		  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/"><p font="Tekton Pro">Products</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/brands"><p font="Tekton Pro">Brands</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categories"><p font="Tekton Pro">Categories</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/customers"><p font="Tekton Pro">Customers</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/orders"><p font="Tekton Pro">Orders</p><span class="sr-only">(current)
						</span></a>
					</li>
		        </ul>	
		</nav>
		<br>

<table>
	<tr>
					<th>Order ID</th>
					<th>Customer ID</th>
					<th>Product ID</th>
					<th>Order Date</th>
					<th>Quantity</th>
				</tr>
				{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.customer_id}}</td>
					<td>{{this.product_id}}</td>
					<td>{{this.order_date}}</td>
					<td>{{this.quantity}}</td>
				</tr>
				{{/each}}
</table>