<nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center">
		  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/"><p font="Tekton Pro">Products</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/brands"><p font="Tekton Pro">Brands</p><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categories"><p font="Tekton Pro">Categories</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/customers"><p font="Tekton Pro">Customers</p><span class="sr-only">(current)
						</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/orders"><p font="Tekton Pro">Orders</p><span class="sr-only">(current)
						</span></a>
					</li>
		        </ul>	
		</nav>
		<br>
	<div class="container" style="position: absolute; left: -200px;">
		{{#each data}}
		<h1 class="mt-3 text-center">{{this.name}}</h1>
		<div class="col-lg-5 col-md-5 col-sm-8 mb-0 mx-auto">
		<div class="card bg-secondary text-light center">
		<img class="card-img-top" src="{{this.image}}" alt="">
		<div class="bg-info text-white p-3">
		<h4 class="card-title">Brand: {{this.brand_name}}</h4>
		<h5 class="card-title">₱ {{this.price}}.00</h5>
		<p class="card-text">
		<h7 class="card-title">Category: {{this.category_name}}</h7><br>
		<h7 class="card-title">Description: {{this.description}}</h7><br>
		<h7 class="card-title">Tagline: {{this.tagline}}</h7><br>
		<h7 class="card-title">Warranty: {{this.warranty}} Year/s</h7><br>
		</p>
		<center><a href="/product/update/{{this.id}}" type="button" class="bg-primary text-white p-2">UPDATE</a></center>
		</div>
		</div>
		</div>
			{{/each}}
		</div>


<div class="container pb-5 mb-5" style="position: absolute; right: -550px;">
	<div class="bg-info col-lg-5 col-md-5 col-sm-8 mt-2 mx-3 p-2">
		<h2>Order Request Form</h2>
		
		{{#each data}}
		<form method="POST" action="{{this.id}}/send">
		<div class="controls">
		<div class="form-group">
		<label class="control-label" for="fname">First Name:</label>
		<div>
		<input id="fname" name="fname" type="text" placeholder="Ricardo" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="lname">Last Name:</label>
		<div>
		<input id="lname" name="lname" type="text" placeholder="Dalisay" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="email">Email:</label>
		<div>
		<input id="email" name="email" type="text" placeholder="sample@email.com" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="street">Street:</label>
		<div>
		<input id="street" name="street" type="text" placeholder="Rivera Street" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="municipality">Municipality:</label>
		<div>
		<input id="municipality" name="municipality" type="text" placeholder="San Juan City" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="province">Province:</label>
		<div>
		<input id="province" name="province" type="text" placeholder="Metro Manila" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="zipcode">Zip Code:</label>
		<div>
		<input id="zipcode" name="zipcode" type="text" placeholder="1505" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="productid">Brand:</label>
		<div>
		<input id="brand" name="brand" type="text" value="{{this.brand_name}}" class="form-control" required="" readonly="">
		</div>
		<div class="form-group">
		<label class="control-label" for="product_id">Product Id:</label>
		<div>
		<input id="product_id" name="product_id" type="text" value="{{this.id}}" class="form-control" required="" readonly="">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label" for="quantity">Quantity:</label>
		<div>
		<input id="quantity" name="quantity" type="number" size="3" placeholder="1" class="form-control" required="">
		</div>
		</div>
		<div class="form-group">
		<div class="text-center">
		<button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">
				Submit
		</button>
		</div>
		</div>
		</div>
		</form>
		{{/each}}
	</div>
</div>