<div style="background-color: white" >
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
      <ul class="navbar-nav mr-auto pb-0">
            <li>
              &nbsp
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/"><p font="Tekton Pro">Products</p><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brands"><p font="Tekton Pro">Brands</p><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories"><p font="Tekton Pro">Categories</p><span class="sr-only">(current)
            </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers"><p font="Tekton Pro">Customers</p><span class="sr-only">(current)
            </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders"><p font="Tekton Pro">Orders</p><span class="sr-only">(current)
            </span></a>
          </li>
            </ul>
            <img src="/logo19.png" width="10%" height="10%" style="float: right; margin-right: 3%;">  
    </nav>


<h1 class="p-5 mt-0 mb-1 text-center">{{title}}</h1>
<center>
  {{#each products}}
<form action="/products/{{this.id}}" method="POST">
  <table>
    <tr><td>
  Product id:</td><td>
  <input type="text" readonly="" name="product_id" value="{{this.id}}"></td></tr>
  {{/each}}
 
 <tr><td>
  Product name:  </td><td>
  <input type="text" name="product_name" required=""></td></tr>
 <tr><td> Product description: </td><td>
  <input type="text" name="product_description"></td></tr>
 <tr><td>Product tagline: </td><td>
  <input type="text" name="product_tagline"></td></tr>
 <tr><td> Product price: </td><td>
  <input type="text" name="product_price" required=""></td></tr>
 <tr><td> Product warranty: </td><td>
  <input type="text" name="product_warranty"></td></tr>
 <tr><td> Product category: </td><td>
  <select name="category_id" class="form" required="">
      <option value="">Pick a Category</option>
      {{#each category}}
      <option value="{{this.id}}">{{this.category_name}}</option>
      {{/each}}
     </select></td></tr>
 <tr><td> Product brand: </td><td>
     <select name="brand_id" class="form" required="">
     <option value=''>Pick a Brand</option>
      {{#each brands}}
      <option value='{{this.id}}'>{{this.brand_name}}</option>
      {{/each}}
  </select></td></tr>
 <tr><td> Image Link:</td><td>
  <input type="text" name="image_link"></td></tr>
</table>
<br><br>
  <input type="submit" value="UPDATE">
</form> 
</center>

<br><br>
<div class="bg-dark p-2 " style=" color: #d3d3d3; width: 100%; text-align: center; font-size: 0.8vw; bottom: 0;">© Copyright 2018     Developed by: Somido-Tan</div>
</div>